@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
  background-image: url("./Assests/upper-bg-desktop.png"), url("./Assests/lower-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: 100% 80%, 100% 80%;
}
